body{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
.sec-head {
	color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 920;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../image/bg-h.jpg);
	box-shadow: 3px 0px 8px 0px #e3dbd6;

}
.sec-head .d-flex{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	min-height: 80px;
}
.sec-head .box-sale{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.sec-head .box-sale h5{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
}
.sec-head .box-sale .price{
	text-align: right;
	font-size: 21px;

}
.sec-head .box-sale .price p{
	border: 1px solid #ccc;
	min-height: 32px;
	line-height: 32px;
	border-radius: 10px;
	display: inline-block;
	margin-bottom: unset;
	padding-left: 8px;
	padding-right: 8px;
	
}
.sec-head .box-sale .price  span{
	color: #ffcb3e;
}
.sec-head .box-sale .price sub{
	bottom: 0;
	font-size: 13px;
}
.sec-head .box-clock{
	text-align: center;
}
.sec-head .box-clock .time{
	display: inline-block;
	margin-left: 5px;
	text-transform: uppercase;
	
}
.sec-head .box-clock .time sub{
	bottom: -8px;
	font-size: 16px;
	margin-left: 3px;
}
.sec-head .box-clock .time span{
	width: 40px;
	height: 50px;
	font-size: 40px;
	font-weight: 900;
	line-height: 50px;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-left: 3px;
	background-color: #2d0a11;
	font-family: 'Roboto', sans-serif;
}
.sec-head .btn-scoll button {
    color: #fff;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: "Roboto";
    text-transform: uppercase;
    padding: .575rem .75rem;
    border-radius: 25px;
    background: linear-gradient(to top, #ca3e0e, #ff3817);
    box-shadow: 0px 1px 13px -4px #333;
}
.sec-head .box-clock h6{
	display: none;

}
/*sec1*/
.sec1{
	    margin-top: 80px;
	position: relative;
	z-index: 900;
	min-height: 618px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../image/bg1.png);
}
.sec1 h1{
	font-size: 78px;
	font-family: "UTM Heavy";
	background-size: cover;
	text-transform: uppercase;
	text-align: center;
	background-size: cover;
  	background-position-y: 0%;
  	background-repeat: no-repeat;
  	background-image: url(../image/bg-h.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sec1  .box-show p{
	font-size: 16px;
	font-style: italic;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
}
.sec1 .box-slogan{
	position: relative;
    margin-left: -12%;
    margin-right: -23%;
    margin-top: -3rem;
}
.sec1 .box-slogan .h2{
	top: 57%;
	left: 20px;
	width: 100%;
	line-height: 1.15;
	position: absolute;
	margin-bottom: unset;
	background: #c60505; 
  	background: -webkit-linear-gradient(-170deg, #c60505, #910a0a 65%); 
  	background: linear-gradient(-170deg, #c60505, #910a0a 65%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	transform: rotate(-4deg) translateY(-57%) ;
}
.sec1 .box-slogan .h2 p{
	font-size: 48px;
	margin-bottom: unset;
	font-style: italic;
	font-family: "UTM Sharnay";
}
.sec1 .box-slogan .h2 p:last-child{
	font-size: 40px;
}
.sec1 .box-sp{
	position: relative;
    margin-left: -14%;
    margin-right: -26%;
    top: 20px;
}
/*2*/
.sec2{
	position: relative;
	margin-top: -7rem;
	padding-top: 8.5rem;
	min-height: 780px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../image/bg2.jpg);
}
.sec2 .box-form {
    z-index: 900;
    padding: 10px;
    max-width: 680px;
    min-height: 245px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 5px;
    background-size: cover;
    margin-bottom: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../image/bg-form.png);
}
.sec2 .box-order > div > div:first-child{
	position: relative;
	margin-left: -15%;
	margin-top: -25px;
	overflow: hidden;
}
.sec2 .box-order > div > div:first-child:after{
	content: "";
	width: 80px;
	height: 80px;
	top: 15px;
	right: 25px;
	position: absolute;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    background-image: url(../image/sale.png?ver=1);
}
.sec2 .box-form .box-order {
    border-radius: 5px;
    min-height: 225px;
    border: 1px solid #faf3eb;
}
.sec2 .box-order > div {
    width: 100%;
    display: block;
}
.sec2 .box-order > div:last-child {
    max-width: 55%;
    padding: 15px;
}
.sec2 .box-order > div:last-child h2 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 0.85rem;
    padding-bottom: 15px;
    font-family: "Roboto";
    text-transform: uppercase;
}
.sec2 .box-order > div:last-child h2:after {
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 11px;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../image/shape1.png);
}
.sec2 .box-order > div .form-group textarea::placeholder,
.sec2 .box-order > div .form-group input::placeholder{
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	font-family: "Montserrat";
}
.sec2 .box-order > div .form-group textarea,
.sec2 .box-order > div .form-group input{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	font-family: "Montserrat";
	background-color: #640b0d;
}
.sec2 .box-order > div .form-group {
    margin-bottom: 0.5rem;
}
.sec2 .box-order > div .js_submit {
    color: #fff;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: "Roboto";
    text-transform: uppercase;
    padding: .575rem .75rem;
    border-radius: 25px;
    background: linear-gradient(to top, #d5400f, #ec2708);
}
 .sec2 .box-form:after {
    content: "";
    position: absolute;
    top: -4.5px;
    right: -5px;
    width: 77px;
    height: 74px;
    background-image: url(../image/hot.png);
    background-repeat: no-repeat;
}
.sec2 .box-order > div .price {
    text-align: right;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}
.sec2 .box-order > div .price p:first-child {
    margin-top: 0.75rem;
    font-weight: 300;
    margin-bottom: unset;
    text-decoration: line-through;
}
.sec2 .box-order > div .price p:last-child span {
    color: #ffcb3e;
}
.sec2 .box-order > div .price p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: "Roboto Condensed";
}
.sec2 .box-order > div .price p:last-child {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.sec2 .box-order > div .price p:last-child sub {
    font-size: 14px;
    bottom: 0;
}
.sec2 .box-order > div textarea.form-control {
    height: auto;
    resize: none;
    margin-bottom: 0.75rem;
}
.sec2 .box-show h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-bottom: 3.5rem;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}
.sec2 .box-show .item{
	margin-bottom: unset;
}
.sec2 .box-show .item{
	color: #fff;
	text-align: center;
	margin-bottom: 3.5rem;
}
.sec2 .box-show .item div{
	max-width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
/*3*/
.sec3{
	position: relative;
	z-index: 900;
	min-height: 780px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../image/bg3.jpg);
}
.sec3 .box-show{
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.sec3 .box-show h2 {
    color: #760a02;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
}
.sec3 .box-show  > p{
	text-align: center;
	font-weight: 500;
	font-size: 17px;
	margin-bottom: 2rem;
}
.sec3 .box-show  > p span {
	color: #760a02;
	font-weight: 700;
	font-size: 19px;
	text-transform: uppercase;
}
.sec3 .box-card > div {
    position: relative;
    display: block;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.sec3 .box-card img {
    height: 180px;
    object-fit: cover;
    -webkit-mask-image: url(../image/svg.png);
    -webkit-mask-mode: alpha;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}
.sec3 .box-card  h3{
	font-size: 17px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}
.sec3 .box-card p {
	letter-spacing: -1.05px;
}

.sec3  .row > div:nth-child(2),
.sec3  .row > div:nth-child(4){
	margin-top: 5rem;
}
.sec3  .row > div:nth-child(1),
.sec3  .row > div:nth-child(5){
	margin-top: 10rem;
}
.sec3 .box-sp {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10rem;
    margin-bottom: 1rem;
}
.sec3 .box-border{
	position: relative;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px 2px;
	margin-bottom: 2rem;
    border: 1px solid #721013;
}
.sec3 .box-border > .d-flex > div{
	width: 100%;
}
.sec3 .box-border > .d-flex > div:first-child{
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}
.sec3 .box-border > .d-flex{
	position: relative;
	min-height: 180px;
	max-width: 720px;
	margin-left: 20px;
    margin-right: auto;
}
.sec3 .box-border:after{
	content: "";
    position: absolute;
    width: 100%;
    height:  calc(100% - 8px);
    right: 4px;
    top: 4px;
    max-width: 84px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/shape4.png);
}
.sec3 .tp{
	position: absolute;
    top: -50px;
    left: 52px;
    z-index: 999;
    max-width: 180px;
}
.sec3 .box-border > .d-flex > div  span{
	position: relative;
	color: #760a02;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.35;
    margin-left: 15px;
    display: inline-block;
    text-transform: uppercase;
}
.sec3 .box-border > .d-flex > div  span:after{
	content: "";
	position: absolute;
	top: 50%;
	right: -20px;
	width: 5px;
	height: 80%;
	background: #760a02;
	transform: translateY(-50%);
}
.sec3 .box-border > .d-flex > div  span:before{
	content: "";
	position: absolute;
	top: 50%;
	right: -24px;
	width: 2px;
	height: 80%;
	background: #760a02;
	transform: translateY(-50%);
}
.sec3 .box-border > .d-flex img{
	 border: 1px solid #721013;
}
.sec3 .box-border > .d-flex .d-flex{
	max-width: 295px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}
.sec3 .box-border .box-i{
	text-align: justify;
	font-family: "Roboto";
}
.sec3 .box-border .box-i p{
	max-width: 320px;
    margin-bottom: unset;
    margin-right: auto;
    margin-left: auto;
}
/*4*/
.sec4{
	position: relative;
	z-index: 900;
	min-height: 780px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../image/bg4.jpg);
}
.sec4  .box-show h3 {
    font-size: 23px;
   font-weight: 500;
   font-family: "Roboto"
}
.sec4 .box-show {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    
}
.sec4 .fb-comm {
    padding: 15px;
    border-radius: 5px;
    background-color: #eeeeee;
    box-shadow: 0px 0px 6px 2px rgba(242, 242, 242, 0.75);
}
.sec4 .fb-head {
    margin-bottom: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #9b9897;
}
.sec4 .fb-head .fb-num {
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
}
.sec4 .fb-head span {
    color: #717070;
    font-size: 14px;
    font-family: "Roboto Condensed";
}
.sec4 .fb-head span:last-child {
    color: #000;
    font-weight: bold;
    margin-left: 15px;
    padding: 6px 30px 10px 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../image/btn-select.png);
}
.sec4 .fb-body {
    margin-bottom: 0.75rem;
}
.sec4 .fb-av {
    width: 100%;
    max-width: 60px;
    padding-top: 5px;
    margin-right: 10px;
}
.sec4 .fb-av img {
    width: 80px;
    max-height: 60px;
    object-fit: cover;
    border-radius: 3px;
    overflow: hidden;
    object-position: top;
    border: 1px solid #f1f1f1;
}
.sec4 .fb-body .fb-i p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
}
.sec4 .fb-body .fb-i p:nth-child(2) {
    color: #737373;
    font-size: 16px;
    line-height: 1.35;
}
.sec4 .fb-body .fb-i p:nth-child(3) {
    color: #373737;
    font-size: 14px;
}
.sec4 .fb-body .fb-i p:nth-child(3) span {
    cursor: pointer;
}
.sec4 .fb-body .fb-i p:nth-child(3) span:nth-child(3) {
    color: #737373;
}
.sec4 .fb-body .fb-i p {
    margin-bottom: unset;
    font-family: "Roboto";
}
.sec4 .fb-foodter p {
    color: #737373;
    font-size: 13px;
    padding-left: 20px;
    position: relative;
    margin-top: 1rem;
    padding-top: 0.5rem;
    margin-bottom: unset;
    border-top: 1px solid #9b9897;
    font-family: "Roboto";
}
.sec4 .fb-foodter p:after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    background-position: center;
    background-image: url(../image/fb-icon.jpg);
}
/*5*/
.sec5{
	position: relative;
	z-index: 900;
	min-height: 780px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../image/bg5.jpg);
}
.sec5 .box-show{
	padding-top: 3.5rem;
	padding-bottom: 2rem;
}
.sec5 .box-show h2 {
    color: #760a02;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;

    text-transform: uppercase;
}
.sec5 .box-item{
	max-width: 380px;
	margin-bottom: 3rem;
}
.sec5 .box-item.right{
	margin-left: auto;
}
.sec5 .box-item.left{
	margin-right: auto;
	text-align: right;
}
.sec5 .row > div:nth-child(3) > div{
	margin-left: -10%;
}
.sec5 .row > div:nth-child(4) > div{
	margin-right: -10%
}

.sec5 .box-item p{
	/*font-family: "Roboto"*/
	line-height: 1.35;
	font-size: 16px;
	letter-spacing: -.5px;
	margin-bottom: unset;
}
.sec5 .box-sp{
	position: relative;
	left: 40px;
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10rem
}
.sec5 .box-item.left > div:first-child{
	width: 100%;
	max-width: 100px;
	margin-left: 10px;
	-ms-flex-order: 13;
    order: 13;
}
.sec5 .box-item.right > div:first-child{
	width: 100%;
	max-width: 100px;
	margin-right: 10px;
}
/*6*/
.sec6{
	color: #fff;
	font-family: "Roboto";
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../image/bg6.jpg);
}
.sec6 .box-show{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.sec6 .box-i ul{
	max-width: 320px;
	padding-left: unset;
	padding-bottom: 10px;
	border-bottom: 2px solid #fff;
}
.sec6 .box-i ul li{
	font-weight: 300;
	list-style-type: none;
}
.sec6 .box-i  h4{
	font-size: 18px;
	text-transform: uppercase;
}
.sec6 .box-i p{
	font-weight: 300;
	font-style: italic;
	margin-bottom: unset;
	font-size: 14px;
	letter-spacing: -.5px;
}
.sec6 .box-sp{
	top: 15px;
    position: absolute;
}
.sec7.seca .box-show h2{
	font-size: 28px;
}
.sec7.seca .box-show  > p{
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-style: italic;
}
.sec7 .box-show{
	padding-bottom: unset;
}
.sec7.seca .box-photo{
	margin-bottom: 30px;
}
.sec7.seca .box-photo img{
	padding: 3px;
	border-radius: 3px;
	background: #f1f1f1;
	border: 1px solid #ccc;
}
/*7*/
.sec7 .box-show {
	padding-top: 4rem;
	padding-bottom: 2rem;
}
.sec7 .box-show h2 {
    color: #760a02;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.sec7 .box-i{
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.sec7 .box-i p{
	color: #fff;
	font-size: 15px;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
	line-height: 1.35;
	padding-top: 8px;
	padding-bottom: 8px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: skew(-7deg);
	background-image: url(../image/bg6.jpg);
}
.sec7 .box-i p:last-child{
	margin-bottom: unset;
}
/*8*/
.sec8{
	position: relative;
	z-index: 900;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../image/bg8.jpg);
}
.sec8 h1 {
    font-size: 78px;
    font-family: "UTM Heavy";
    background-size: cover;
    text-transform: uppercase;
    text-align: center;
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-image: url(../image/bg-h.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sec8 .box-sp{
	margin-left: -35%;
    position: relative;
    top: 220px;
    margin-right: 5%;
}
.sec8 .box-show p {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}
.sec8 .box-form{
	max-width: 400px;
	margin-left: auto;
	margin-bottom: 8px;

}
.sec8 .box-form + p{
	max-width: 400px;
	margin-left: auto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.35;
	text-align: center;
	margin-bottom: unset;
	font-family: "Roboto Condensed";
}
.fb-foodter button.fb {
    color: #fff;
    font-size: 20px;
    padding: .575rem .75rem;
    background-color: #3a559f;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
}

body .sec2 .box-show h2:after {
    background-image: url(../image/shape2.png);
}
body .box-show h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -19px;
    width: 100%;
    height: 11px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../image/shape3.png);
}
@font-face {
    font-family: UTM Sharnay;
    src: url("../fonts/UTMSharnay0.woff2");
    font-weight: 700
}
@font-face {
    font-family: UTM Heavy;
    src: url("../fonts/UTMAlbertaHeavy0.woff2");
    font-weight: 700
}
.btn-scoll button {
    color: #fff;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding: .575rem .75rem;
    border-radius: 25px;
    background: linear-gradient(to top, #ad2927, #a0201d);
    /*box-shadow: 0px 1px 13px -4px #333;*/
}


/*form*/
.box-form{
  position: relative;
  z-index: 999;
  font-family: "Roboto Condensed";
  border-radius: 3px;
  /*border: 1px solid #173a40*/
}
.f-head {
  position: relative;
    color: #fff;
    font-family: "Roboto";
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    background: #020a21;
    z-index: 9999;
    border-radius: 3px 3px 0 0;
    background: -webkit-linear-gradient(to top, #272a23, #020a21);
    background: linear-gradient(to top, #272a23, #020a21);
}
.f-head:after{
  content: "";
  position: absolute;
  top:  -4.5px;
  right: -4px;
  width: 77px;
  height: 74px;
  background-image: url(../image/hot.png);
  background-repeat: no-repeat;
}
.f-head h2{
  padding-top: 5px;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: unset;
}
.f-head p{
    margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
}
.f-body{
  padding: 5px 4px 5px 4px;
  background-color: #242720;
  border-radius:  0 0 3px 3px;
   /*background: linear-gradient(to top, #b61b10,  #5b0b12);*/

}
.f-body .f-order label{
  font-size: 17px;
  color: #a2a2a2;
  margin-bottom: 3px;
}
.f-body .f-order .form-group{
	margin-bottom: 0.5rem
}
.f-body .f-order input{
  border-radius: 3px;
  border: none;
  background-color: #dadada;
}
.f-body .f-order textarea{
	border-radius: 3px;
  border: none;
  resize:  none;
  background-color: #dadada;
}
.f-body .f-order{
  padding: 15px 20px;
  border: 1px solid #09557d;
  background-color: #fff;
  border-radius: 3px;
}
.f-order .price{
  text-align: right;
}
.f-order .price .p-o{
  font-size: 18px;
  font-weight: lighter;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Roboto";
}
.f-order .price .p-s{
  color: #b31b15;
  font-size: 32.5px;
  font-weight: 800;
  font-family: "Roboto";
  text-transform: uppercase;
}
.f-order .price .p-n{
  font-size: 35px;
  font-weight: 900;
  line-height: 1;
  font-family: "Roboto";
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.f-order .price .p-k{
	color: #b31b15;
	font-size: 18.5px;
	font-weight: 600;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-family: "Roboto";
}
.f-order .price .p-n sub{
  top: 0;
  right: 3px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.f-order button,
.f-order button, 
.f-order button:active, 
.f-order button:hover, 
.f-order button:focus{
    color: #fff;
	font-size: 21px;
	font-weight: 400;
	border-radius: 30px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	border:  2px solid #de2f0a;
    -webkit-box-shadow: transparent;
    font-family: "Roboto Condensed";
   /* text-shadow: 1px 2px 3px #080808;*/
    box-shadow: 0px 0px 8px -2px #080808ed;
    background: linear-gradient(to top, #c93f0e, #e73815);
}

/*coutdown*/
.f-body .coutdown{
  padding-top: 40px;
  padding-bottom: 5px;
  background: #fff;
  border: 1px solid #09557d;
  margin-bottom: 5px;
  border-radius: 3px;
}
.f-body .coutdown .clock{
  max-width: 365px;
  margin-left: auto;
  margin-right: auto;
}
.flip-clock-wrapper{
  margin: unset;
}
.flip-clock-dot{
  display: none;
}
.flip-clock-divider{
  width: 8px;
  height: 1px;
}
.flip-clock-wrapper ul{
  width: 50px;
  height: 73px;
  margin: 4px;
  background: #666a6e;
}
.flip-clock-wrapper ul li{
  line-height: 70px;
}
.flip-clock-wrapper ul li a div div.inn{
  color: #fff;
  font-size: 50px;
  background-color: #666a6e;
}
.flip-clock-divider .flip-clock-label{
  color: #626262;
  top: -1.3em;
  font-size: 20px;
  text-transform: uppercase;
}
.flip-clock-divider.days .flip-clock-label{
  right: -90px;
}
.flip-clock-divider.hours .flip-clock-label{
  right: -80px;
}
.sec5 .box-item p{
	width: 100%;
}
@media (min-width: 992px){
	.ladi{
		max-width: 960px;
	}
	.sec3 .box-sp h3{
		display: none;
	}
	.sec3  .row > div.col-lg-6{
		-ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%;
	}
}
@media (max-width: 1200px){
	.sec5 .row > div:nth-child(4) > div{
		margin-right: unset;
	}
	.sec5 .row > div:nth-child(3) > div{
		margin-left: unset;
		
	}
	.sec5 .box-show h2{
		font-size: 29px;
		margin-bottom: 8rem;
	}
	.sec5 .box-sp{
		z-index: -11;
	}
	.sec3 .tp{
		left: -37px;
	}
}
@media (max-width: 992px){
	.sec8 .box-sp {
	    margin-left: -7%;
	    top: 250px;
	    margin-right: 0%;
	}
	.sec5 .box-show h2{
		font-size: 29px;
	}
	.sec5 {
		min-height: 720px;
	}
	.sec5 .row > div:last-child {
	  	z-index: -1;
	    opacity: 0.8;
	    margin-bottom: 0;
	    position: absolute;
	    left: 50%;
	    bottom: 0;
	    transform: translateX(-50%);
	}
	.sec3 .box-card h3{
		font-size: 15.5px;
	}
	.sec3 .tp{
		left: 36px;
	}
	.sec-head .box-clock .time sub {
	    bottom: -11px;
	    font-size: 13px;
	    display: block;
	}
	.sec-head .d-flex{
		padding-left: 15px;
		padding-right: 15px;
	}
	.sec-head .box-clock .time span{
		font-size: 35px;
	}
	.sec-head .box-sale .price{
		text-align: left;
	}
	.sec1:after{
		top: 0;
		opacity: 0.5;
		content: '';
		width: 100%;
		height: 100%;
		z-index: -1;
		background: #ccc;
		position: absolute;
		-webkit-clip-path: polygon(49% 99%, 100% 90%, 100% 0, 0 0, 0 90%);
		clip-path: polygon(49% 99%, 100% 90%, 100% 0, 0 0, 0 90%);
	
	}
	.sec1 .box-sp,
	.sec1 .box-slogan{
		margin-left: auto;
    	margin-right: auto;
	}
	.sec2 .box-form{
		margin-bottom: 2rem;
	}
	.sec5 .box-show h2,
	.sec2 .box-show h2{
		font-size: 28px;
	}
	.sec3 .tp{
		display: none;
	}
	.sec3 .box-border > .d-flex > div span{
		position: absolute;
	    width:  calc(100% - 60px);
	    left: 0;
	    top: 10px;
	    text-align: center;
	    margin-left: unset;
	}
	.sec3 .box-border > .d-flex > div span br {
		display: none;
	}
	.sec3 .box-border > .d-flex > div span:before,
	.sec3 .box-border > .d-flex > div span:after{
		content: unset;
	}
	.sec3 .box-border > .d-flex > div:first-child{
		max-width: 225px;
	}
	.sec3 .box-border .box-i p{
		margin-left: 15px;
		line-height: 1.35;
	}
	.sec3 .box-border:before {
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: calc(100% - 8px);
	    left: 4px;
	    top: 4px;
	    max-width: 84px;
	    transform: rotate(180deg);
	    background-size: cover;

	    background-repeat: no-repeat;
	    background-image: url(../image/shape4.png);
	}
	.sec3 .box-border > .d-flex{
		margin-left: 60px;
	}
	.sec3 .box-border > .d-flex .d-flex{
		height: 100px;
	}
	.sec3 .box-border > .d-flex > div{
		margin-top: 35px;
	}
	.sec5 .box-show h2 br{
		display: none;
	}
	.sec5 {
		background: transparent;
	}
	.sec5 .row > div:last-child{
		display: none;
	}
	.sec5 .box-show h2{
		margin-bottom: 5rem;
	}
	.sec5 {
	    min-height: 635px;
	}
	.sec5 .box-item {
   
	    margin-bottom: 1rem;
	}
	.sec6 .box-sp {
	    top: 15px;
	    position: absolute;
	    margin-left: -35px;
	}
	.sec8{
		background-position: right;
	}
	.sec8 .box-form + p,
	.sec8 .box-form{
		margin-right: auto;
	}
	.sec8 .box-sp{
		top: 0;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	.sec3 .row > div:nth-child(1), .sec3 .row > div:nth-child(5),
	.sec3 .row > div:nth-child(2), .sec3 .row > div:nth-child(4){
		margin-top: unset;
	}
	.sec3 .box-sp{
		margin-top: unset;
		margin-bottom: unset;
	}
	.sec3 .box-card h3,
	.sec3 .box-sp h3{
		display: block;
		font-size: 17px;
	    text-align: center;
	    font-weight: 600;
	    text-transform: uppercase;
	}
	.sec3 .box-card p{
		letter-spacing: 0;
		font-weight: 400;
	}
	.sec-head .box-sale h5{
		font-size: 16.5px;
	}
}
@media (max-width: 768px){
	.sec7.seca .box-show h2 {
	    font-size: 24px;
	}
	.sec2 .box-order > div{
		width: 100%;
		max-width: 100%!important;
	}
	.sec2 .box-form .box-order{
    	display: block!important	
	}
	.sec2 .box-order>div.box-sp  {
	    margin-top: 7.5rem;
	}
	.sec2 .box-order>div:last-child h2 {
	    position: absolute;
	    top: 20px;
	    left: 0;
	    width: 100%;
	}
	.sec2 .box-show .item div{
		max-width: 120px;
	}
	.sec2 .box-show .item{
		margin-bottom: 1rem;
	}
	.sec3 .box-show h2{
		font-size: 28px;
	}
	.sec3 .box-show h2 br{
		display: none;
	}
	.sec3 .box-border:after,
	.sec3 .box-border:before{
		content: unset;
	}
	.sec3 .box-border{
		border: none;
	}
	.sec3 .box-border > .d-flex img{
		height: 180px;
	    object-fit: cover;
	    -webkit-mask-image: url(../image/svg.png);
	    -webkit-mask-mode: alpha;
	    -webkit-mask-size: contain;
	    -webkit-mask-repeat: no-repeat;
	    -webkit-mask-position: center;
	}
	.sec3 .box-border > .d-flex .d-flex{
		display: block!important	;
	}
	.sec3 .box-border > .d-flex{
		display: block!important	;
		margin-left: auto;
		margin-right: auto;
	}
	.sec3 .box-border > .d-flex .d-flex{
		height: auto;
	}
	.sec3 .box-border > .d-flex > div{
		margin-top: unset;
	}
	.sec3 .box-border > .d-flex > div span{
		position: unset;
		width: 100%;
	}
	.sec3 .row .col-sm-12{
		-ms-flex-order: 13;
    	order: 13;
	}
	.sec3 .box-sp h3 {
		display: none;
	}
	.sec3 .box-sp {
	    margin-top: -3rem;
	    margin-bottom: 1rem;
	}
	.sec6 .box-sp,
	.sec7 .box-sp{
		top: 0;
		left: 0;
		position: relative;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.sec5 .box-item{
		max-width: 420px;
	}
	.sec5 .row{
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	.sec-head .btn-scoll,
	.sec-head .box-sale {
		display: none;
	}
	.sec-head .box-clock .time{
		margin-left: 3px;
	}
	.sec-head .box-clock .time span{
		width: 35px;
    	height: 45px;
    	line-height: 45px;
    	font-size: 30px;
	}
	.sec-head .box-clock .time sub{
		bottom: -10px;
		display: inline-block;
	}
	.sec1 .box-slogan .h2 p:last-child {
	    font-size: 35px;
	}
	.sec1 .box-slogan .h2 p {
	    font-size: 40px;
	}
	.sec1{
		min-height: 460px;
		overflow: hidden;
	}
	.sec1:after {
   
	    -webkit-clip-path: polygon(49% 99%, 100% 92%, 100% 0, 0 0, 0 92%);
	    clip-path: polygon(49% 99%, 100% 92%, 100% 0, 0 0, 0 92%);
	}
	.sec2 {
		padding-top: 7.1rem;
	}
	body .box-show h2:after{
		max-width: 420px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.sec7 .box-show h2{
		font-size: 28px;
	}
	.sec3 .box-border > .d-flex .d-flex{
		    max-width: 180px;
	    margin-left: auto;
	    margin-right: auto;
	    font-size: 20px;
	}
	.sec8 h1{
		font-size: 70px;
	}
	.sec2 .box-order>div:last-child h2:after {
	    left: 50%;
	    transform: translateX(-50%);
	}
	.sec-head .box-clock h6{
		display: block;
		margin-bottom: 5px;
		
	}
}
@media (max-width: 579px){
	.sec1 h1{
		font-size: 70px;
	}
	.sec7 .box-show h2 br{
		display: none;
	}
	.sec1 .box-slogan .h2 p{
		font-size: 35px;
	}
	.sec1 .box-slogan .h2 p:last-child {
	    font-size: 30px;
	}
	
	.sec1 .box-slogan .h2{
		left: 15px;
	}
	.sec1 .box-slogan {
	    position: relative;
	    margin-left: -7%;
	    margin-right: -7%;
	    margin-top: -2rem;
	}
	body .box-show h2:after {
	    max-width: 250px;
	    background-size: cover;
	}
	.sec7 .box-show{
		padding-top: 2rem;
	}
	.sec5 .box-show h2, .sec2 .box-show h2 {
	    font-size: 26px;
	}
	.sec4 .fb-av img,
	.sec4 .fb-av{
		max-width: 45px;
		height: 45px;
		
	}

	.sec4 .fb-body .fb-i p:nth-child(3) {
	    color: #373737;
	    font-size: 13px;
	}
	.sec3 .box-show h2 {
	    font-size: 26px;
	}
	.sec3 .box-show > p br{
		display: none;
	}
	.sec3 .box-border > .d-flex > div span{
		font-size: 18px;
	}
	.sec3 .box-sp{
		margin-top: unset;
	}
	.sec2 .box-show .item p br{
		display: none;
	}
	.sec2 .box-show h2 {
	    font-size: 23px;
	}
	.sec3 .box-border,
	.sec3 .box-card{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.sec1,.sec2,.sec3,.sec4,.sec5,.sec6,.sec6,.sec7,.sec8{
		overflow: hidden;
	}
}
@media (max-width:  420px){
	.container{
		padding-right: 8px;
		padding-left: 8px;
	}
	.container .row {
		margin-left: -8px;
		margin-right: -8px;;
	}
	.container .row  > div{

	}
	.sec7 .box-show h2 br{
		display: none;
	}
	.sec7 .box-show h2 {
	    font-size: 25px;
	}
	.f-body .f-order {
    	padding: 15px 12px;
		  
	}
	
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
